graph {
    fill-color: #ddd;
}

node:clicked {
    fill-color: #354951;
    text-size: 16;
    text-style: bold;
    text-color: #1b2529;
    text-alignment: at-right;
    text-padding: 3px, 2px;
    text-background-mode: rounded-box;
    text-background-color: rgba(53, 73, 81, 0.42);
    text-color: #ffcb6b;
    text-offset: 5px, 0px;
    text-mode: normal;
}

node {
    size: 20px;
    shape: circle;
    fill-color: #263238;
    stroke-mode: plain;
    stroke-color: #1b2529;
    text-mode: hidden;
}

node#0 {
    size: 20px;
    shape: box;
    fill-color: #89ddff;
    stroke-mode: plain;
    stroke-color: #1b2529;
    text-mode: hidden;
}

edge {
    size: 2px;
    fill-color: #1b2529;
    fill-mode: plain;
    text-size: 10;
    text-alignment: along;
    text-padding: 3px, 2px;
    text-background-mode: rounded-box;
    text-background-color: #feebeb;
    text-color: #1b2529;
    text-offset: 5px, 0px;
}